@import url('https://cdn.jsdelivr.net/gh/moonspam/NanumSquareRound@1.0/nanumsquareround.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb; /* gray-50 */
    --foreground: #111827; /* gray-900 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #111827;
      --foreground: #f9fafb;
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'NanumSquareRound', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  }
}

